*
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #e3f2e5;
	width: 100%;
}

h1 {
	text-align: center;
	padding: 24px;
	font-size: 48px;
	width: 100%;
}

.choice-box,
.score-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 32px;
	padding: 24px;
	margin: 0 48px;
	background-color: #F8F0F0;
	font-size: 24px;
	font-weight: bold;
	min-width: 75%;
}

.choice-sec,
.score-sec {
	display: flex;
	flex-direction: column;
	padding: 24px;
	margin: 0 48px;
	gap: 24px;
	min-width: 75%;
}

.container {
	display: flex;
	flex-direction: column;
}

.round-text,
.game-text,
#game-rule {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

.buttons {
	padding:32px;
	display: flex;
	justify-content: center;
	gap: 48px;
}

button {
	padding: 18px;
	border-radius: 8px;
	background-color: #F8F0F0;
}

.end-sec {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 24px;
	gap: 24px;
}

.reset-btn {
	color: #F8F0F0;
	background-color: black;
}
